doctype html
html
  head
    title TechTalent
  body
    header
      h1 Welcome to TechTalent Organization!
    main
      block content
    footer
      p © 2024 TechTalent Team. All rights reserved.